nav {
    background: rgba(255, 255, 255, 0.111);
    width: max-content;
    display: block;
    padding: 0.7rem 1.7rem;
    z-index: 2;
    position: fixed;
    left: 50%;
    transform: translate(-54%, 40%);
    bottom: 2rem;
    display: flex;
    gap: 0.8rem;
    border-radius: 3rem;
    backdrop-filter: blur(15px);
}

nav a {
    padding: 0.7rem;
    border-radius: 50%;
    display: flex;
    background: transparent;
    font-size: 1.1rem;
}

nav a.active {
    background: var(--color-bg);
    color: var(--color-primary);
}